<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingBar_Empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{395,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,47}}</string>
                <key>sourceSize</key>
                <string>{395,47}</string>
            </dict>
            <key>LoadingBar_Full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{719,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,34}}</string>
                <key>sourceSize</key>
                <string>{719,34}</string>
            </dict>
            <key>LoadingElf1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,591},{59,67}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>LoadingElf1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,630},{51,69}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{51,69}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>LoadingElf1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,660},{47,67}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{47,67}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>LoadingElf1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,569},{59,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>LoadingElf2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,610},{102,155}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,155}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,371},{108,159}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{108,159}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,396},{108,159}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{108,159}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,481},{108,157}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{108,157}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,288},{106,161}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{106,161}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,506},{102,155}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,155}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,51},{100,169}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{100,169}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,153},{108,165}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{108,165}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,263},{106,165}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{106,165}}</string>
                <key>sourceSize</key>
                <string>{108,179}</string>
            </dict>
            <key>LoadingElf3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,498},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>LoadingElf3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,424},{72,79}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,79}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>LoadingElf3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,288},{66,87}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{66,87}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>LoadingElf3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,356},{66,85}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{66,85}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>LoadingMagnifier.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,51},{235,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,251}}</string>
                <key>sourceSize</key>
                <string>{235,251}</string>
            </dict>
            <key>eft_loading_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,630},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{67,90}</string>
            </dict>
            <key>eft_loading_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,657},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eft_loading_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,591},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_sceneloading.png</string>
            <key>size</key>
            <string>{462,723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:056a3eeadcc94cffe547fcdb1d871e6e:1d0ea0e11fa6b6b59673dec560bb3275:9e44a1e29f5907252323429ed59990f8$</string>
            <key>textureFileName</key>
            <string>ui_sceneloading.png</string>
        </dict>
    </dict>
</plist>
